# Работа с библиотекой Pandas

## Загрузка модулей

In [1]:
import pandas as pd

## Задача 1. Загрузить один из файлов csv в DataFrame

In [2]:
df = pd.read_csv("./JCMB_2015_May.csv")

## Задача 2. Посмотреть на наименования столбцов. При необходимости, сократить или сделать более понятными

In [3]:
old_columns = df.columns
old_columns

Index(['date-time', 'atmospheric pressure (mBar)', 'rainfall (mm)',
       'wind speed (m/s)', 'wind direction (degrees)',
       'surface temperature (C)', 'relative humidity (%)',
       'solar flux (Kw/m2)', 'battery (V)'],
      dtype='object')

Сократим названия столбцов.

In [4]:
new_columns = [
    "date_time",
    "pressure",
    "rainfall",
    "wind_speed",
    "wind_direction",
    "temperature",
    "humidity",
    "solar_flux",
    "battery",
]
df.columns = new_columns
df.columns

Index(['date_time', 'pressure', 'rainfall', 'wind_speed', 'wind_direction',
       'temperature', 'humidity', 'solar_flux', 'battery'],
      dtype='object')

## Задача 3. Сохранить первые 1000 строк DataFrame в CSV-файл

In [5]:
df[:1000].to_csv("./JCMB_2015_May_sample.csv", index=False)

## Задача 4. Загрузите в DataFrame сохраненный на предыдущем шаге CSV-файл и отобразите на экране первые 20 записей, последние 20 записей, любой срез по записям

In [6]:
df_sample = pd.read_csv("./JCMB_2015_May_sample.csv")

Первые 20 записей.

In [7]:
df_sample.head(20)

,date_time,pressure,rainfall,wind_speed,wind_direction,temperature,humidity,solar_flux,battery
0,2015/05/01 00:01,1014,0.0,0.0,0.0,4.565,79.5,0.0,13.89
1,2015/05/01 00:02,1014,0.0,0.0,0.0,4.543,79.4,0.0,13.89
2,2015/05/01 00:03,1014,0.0,0.0,0.0,4.494,79.3,0.0,13.89
3,2015/05/01 00:04,1014,0.0,0.0,0.0,4.472,79.3,0.0,13.89
4,2015/05/01 00:05,1014,0.0,0.0,0.0,4.453,79.4,0.0,13.89
5,2015/05/01 00:06,1014,0.0,0.0,0.0,4.436,79.4,0.0,13.89
6,2015/05/01 00:07,1014,0.0,0.0,0.0,4.425,79.4,0.0,13.89
7,2015/05/01 00:08,1014,0.0,0.0,0.0,4.376,79.3,0.0,13.89
8,2015/05/01 00:09,1014,0.0,0.0,0.0,4.327,79.3,0.0,13.89
9,2015/05/01 00:10,1014,0.0,0.0,0.0,4.288,79.4,0.0,13.89
10,2015/05/01 00:11,1014,0.0,0.0,0.0,4.269,79.5,0.0,13.89
11,2015/05/01 00:12,1014,0.0,0.0,0.0,4.258,79.6,0.0,13.89
12,2015/05/01 00:13,1014,0.0,0.0,0.0,4.264,79.8,0.0,13.89
13,2015/05/01 00:14,1014,0.0,0.0,0.0,4.280,79.9,0.0,13.89
14,2015/05/01 00:15,1014,0.0,0.0,0.0,4.280,80.0,0.0,13.89
15,2015/05/01 00:16,1014,0.0,0.0,0.0,4.294,80.1,0.0,13.89
16,2015/05/01 00:17,1014,0.0,0.0,0.0,4.324,80.2,0.0,13.89
17,2015/05/01 00:18,1014,0.0,0.0,0.0,4.327,80.2,0.0,13.89
18,2015/05/01 00:19,1014,0.0,0.0,0.0,4.313,80.1,0.0,13.89
19,2015/05/01 00:20,1014,0.0,0.0,0.0,4.280,80.0,0.0,13.89

Последние 20 записей.

In [8]:
df_sample.tail(20)

,date_time,pressure,rainfall,wind_speed,wind_direction,temperature,humidity,solar_flux,battery
980,2015/05/01 16:21,1013,0.0,1.750,42.21,7.53,61.70,0.483895,13.55
981,2015/05/01 16:22,1013,0.0,1.792,76.60,7.68,61.50,0.498693,13.54
982,2015/05/01 16:23,1013,0.0,2.229,30.73,7.79,60.91,0.516450,13.55
983,2015/05/01 16:24,1013,0.0,3.167,56.83,7.60,61.40,0.512011,13.55
984,2015/05/01 16:25,1013,0.0,2.521,45.30,7.45,62.03,0.506092,13.55
985,2015/05/01 16:26,1013,0.0,2.500,67.09,7.58,61.11,0.494253,13.55
986,2015/05/01 16:27,1013,0.0,2.458,53.44,7.43,61.64,0.504612,13.55
987,2015/05/01 16:28,1013,0.0,1.771,67.05,7.50,61.90,0.512011,13.55
988,2015/05/01 16:29,1013,0.0,2.688,59.57,7.58,61.44,0.537167,13.55
989,2015/05/01 16:30,1013,0.0,3.063,79.10,7.39,61.97,0.543087,13.55
990,2015/05/01 16:31,1013,0.0,1.438,66.25,7.46,62.23,0.557885,13.55
991,2015/05/01 16:32,1013,0.0,1.958,38.84,7.61,61.74,0.550486,13.55
992,2015/05/01 16:33,1013,0.0,3.396,61.41,7.35,62.82,0.498693,13.55
993,2015/05/01 16:34,1013,0.0,2.125,61.42,7.24,63.41,0.409905,13.55
994,2015/05/01 16:35,1013,0.0,1.563,51.54,7.38,62.43,0.517930,13.56
995,2015/05/01 16:36,1013,0.0,3.604,42.71,7.31,62.69,0.531248,13.55
996,2015/05/01 16:37,1013,0.0,3.500,39.52,7.18,62.95,0.546046,13.55
997,2015/05/01 16:38,1013,0.0,3.083,44.23,7.15,63.61,0.554925,13.56
998,2015/05/01 16:39,1013,0.0,1.792,64.90,7.32,62.88,0.568243,13.56
999,2015/05/01 16:40,1013,0.0,2.125,42.44,7.40,62.62,0.583041,13.56

Срез по данным.

In [15]:
df_sample.loc[::100, ["date_time", "wind_speed", "humidity"]]

            date_time  wind_speed  humidity
0    2015/05/01 00:01       0.000     79.50
100  2015/05/01 01:41       0.708     69.03
200  2015/05/01 03:21       0.000     65.89
300  2015/05/01 05:01       0.000     70.10
400  2015/05/01 06:41       0.000     71.90
500  2015/05/01 08:21       0.354     65.30
600  2015/05/01 10:01       0.000     57.30
700  2015/05/01 11:41       1.646     59.42
800  2015/05/01 13:21       2.854     54.49
900  2015/05/01 15:01       3.854     60.53